<div class="clear"></div>
<div id="copyright"><a href="/index.php/index/contactus"><?php echo lang("contactus")?></a> <?php if(!$user){?>| <a href="/client.php/index/login"><?php echo lang("login")?></a><?php }?> | <a href="/client.php/index/faq"><?php echo lang("faq")?></a> | <a href="/index.php"><?php echo lang("shoppermain")?></a> | <?php if($selected_lang=='zh-cn'){?><a href="/index.php/index/setlang/en">ENGLISH VERSION</a> <?php }?> <?php if($selected_lang=='en'){?><a href="/index.php/index/setlang/zh-cn">中文版</a><?php }?>
  <br />
  <br />
<span style="font-size:10px;color:#666;">&copy; 2010 SPOT Marketing Group Mystery Shopping Division. All Rights Reserved. <br />
Designed by <a href="http://www.realsnow.cn" target="_blank">RealSnow.cn</a> | <a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10043154号</a></span>
</div>
</body>
</html>