<div class="adminmenupanel">
    	<div class="panel">
        	<div class="title"><span><?php echo lang("control_pannel");?></span></div>
      		<div class="content">
            	<!--<li <?php if($view=='defaults') echo 'class="selected"';?>><a href="/client.php/home">首页</a></li>-->
            	<li <?php if($view=='corpstats') echo 'class="selected"';?>><a href="/client.php/home/corpstats"><?php echo lang("company_info");?></a></li>
            	<li <?php if($view=='shoppers') echo 'class="selected"';?>><a href="/client.php/home/shoppers"><?php echo lang("mystery_shopper");?></a></li>

            	<li <?php if($view=='overall') echo 'class="selected"';?>><a href="/client.php/home/overall"><?php echo lang("overview");?></a></li>
                <li <?php if($view=='environment') echo 'class="selected"';?>><a href="/client.php/home/environment"><?php echo lang("environment");?></a></li>
            	<li <?php if($view=='service') echo 'class="selected"';?>><a href="/client.php/home/service"><?php echo lang("service");?></a></li>
                <li <?php if($view=='product') echo 'class="selected"';?>><a href="/client.php/home/product"><?php echo lang("product");?></a></li>
                <li <?php if($view=='stores') echo 'class="selected"';?>><a href="/client.php/home/stores"><?php echo lang("by_location");?></a></li>
        		<li <?php if($view=='comments') echo 'class="selected"';?>><a href="/client.php/home/comments"><?php echo lang("comment_analysis");?></a></li>
        		<li <?php if($view=='assignment') echo 'class="selected"';?>><a href="/client.php/home/assignment"><?php echo lang("completed_visits");?></a></li>

            </div>
        </div>
        
</div>
 <script>
function printpage(oper){
	 bdhtml=window.document.body.innerHTML;//获取当前页的html代码
	sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
	eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
	prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
	
	prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
	//window.document.body.innerHTML=prnhtml;
	//window.print();
	var url = "<?php echo $www_site_url?>/plugins/generatepdf.php";
	//var params = mini.form.serialize($(formName));

	mini.ajax.post(url, function(r){
			window.location.href	 = "<?php echo $www_site_url?>/tmp/"+r;
	}, "c="+prnhtml);

	//window.document.body.innerHTML=bdhtml;
}

</script>