<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">
<div id="tabsD" style="width:100%"> 
  <ul> 
    <li <?php if($type=='corp') echo 'class="on"';?>><a href="/client.php/home/corp" title="基本信息"><span>基本信息</span></a></li> 
    <li <?php if($type=='corpcontact') echo 'class="on"';?>><a href="/client.php/home/corpcontact" title="联系方式"><span>联系方式</span></a></li> 
    <li <?php if($type=='corpstore') echo 'class="on"';?>><a href="/client.php/home/corpstore" title="分店信息"><span>分店信息</span></a></li> 
  </ul> 
</div>

<br />
      <br />
      <br />
<TABLE width="90%" border="0" cellspacing="10" cellpadding="0" class="regInfo">
<TR>
<TD width="10%" ></TD>
<TD width="80%"></TD>
</TR><TR>

<TR><TD align="right">联系人:</TD>
<TD><?php echo $corp['c_contacter'];?></TD>
</TR>
<TR><TD align="right" >联系电话:</TD>
<TD><?php echo $corp['c_phone'];?></TD>
</TR>
<TR><TD align="right">登录帐号:</TD>
<TD><?php echo $corp['c_name'];?></TD>
</TR>


</table>
   

</div>

</div>


<?php include_once("footer.html")?>
