<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">
<div id="tabsD" style="width:100%"> 
  <ul> 
    <li <?php if($type=='shoppers') echo 'class="on"';?>><a href="/client.php/home/shoppers" title="神秘顾客要求"><span>神秘顾客要求</span></a></li> 
    <li <?php if($type=='quiz') echo 'class="on"';?>><a href="/client.php/home/quiz" title="小测试"><span>小测试</span></a></li> 
    <li <?php if($type=='report') echo 'class="on"';?>><a href="/client.php/home/report" title="报告问卷"><span>报告问卷</span></a></li> 
  </ul> 
</div>

<br />
      <br />
      <br />
开发中
   

</div>

</div>


<?php include_once("footer.html")?>
