<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">
<div id="tabsD" style="width:100%"> 
  <ul> 
    <li><a href="#" title="关于我们"><span>基本信息</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>联系方式</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>分店信息</span></a></li> 
  </ul> 
</div>

<br />
      <br />
      <br />
      <br />
      <br />
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regInfo">
        <tr>
          <td width="40%" class="text">用户名：</td>
          <td width="60%"><input name="textfield" type="text" class="input" id="textfield" />

              <img src="images/icon_right.gif" width="15" height="15" /> </td>
        </tr>
        <tr>
          <td class="text">密码：</td>
          <td><input name="textfield2" type="password" class="input" id="textfield2" />
              <img src="images/icon_error.gif" width="15" height="15" /></td>
        </tr>
        <tr>

          <td class="text">再输入一次密码：</td>
          <td><input name="textfield3" type="password" class="input" id="textfield3" /></td>
        </tr>
        <tr>
          <td class="text">电子邮箱：</td>
          <td><input name="textfield4" type="text" class="input" id="textfield4" /></td>
        </tr>
      </table>

</div>

</div>


<?php include_once("footer.html")?>
