<?php include_once("header.html")?>
<div id="wrap">  <br />
  	<div class="tabsB">
    	<div class="left">
        	<div class="right"><?php echo lang('faq');?></div>
    	</div>
    </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="helpTitleBlue"><?php echo lang("what_is_mystery_shopping");?></p>
   <?php echo lang("what_is_mystery_shopping_answer");?>
    <p>&nbsp;</p>
    <p class="helpTitleBlue"><?php echo lang("who_needs_mystery_shopping");?></p>
    <p><br /><?php echo lang("who_needs_mystery_shopping_answer");?>
      </p>
    <p>&nbsp;</p>
    <p class="helpTitleBlue"><?php echo lang("why_do_i_need_mystery_shopping");?></p>

    <p><?php echo lang("why_do_i_need_mystery_shopping_answer");?></p>

    <p>&nbsp;</p>
    <p class="helpTitleBlue"><?php echo lang("why_is_consistency_important");?> </p>
    <p><br />
     <?php echo lang("why_is_consistency_important_answer");?> </p>
    <p>&nbsp;</p>
    <p class="helpTitleBlue"><?php echo lang("how_to_use");?></p>
    <p><br />
<?php echo lang("how_to_use_answer");?>
      </p>

  
  </div>
</div>
<?php include_once("footer.html")?>
