<?php include_once("header.html")?>

<script src="/public/js/AC_RunActiveContent.js" type="text/javascript"></script>


<div id="wrap">
	<div class="bigpic" style="margin-bottom:1px;">
    	<div><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','950','height','245','src','/public/images/<?php echo lang('client_flash');?>','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','/public/images/<?php echo lang('client_flash');?>' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="950" height="245">
    <param name="movie" value="/public/images/<?php echo lang('client_flash_file');?>" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
        <embed src="/public/images/<?php echo lang('client_flash_file');?>" width="950" height="245" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  	    </object>
    	</noscript></div>
  </div>
    <div id="clientBottom">
      <p><span class="title"><?php echo lang("What_is_Mystery_Shopping");?></span></p>
    <?php echo lang("what_is_mystery_shopping_answer");?>
      <p>&nbsp;</p>
      <p>&nbsp;      </p>
      <p align="right"><img src="/public/images/dot2.gif" width="8" height="7" border="0" />&nbsp;&nbsp; <a href="/client.php/index/faq"><?php echo lang("more");?></a></p>
    </div>
</div>


<?php include_once("footer.html")?>
