<div id="header" style="height:10%">
	<?php echo lang('user_center');?>
	<div id="language">
	<span>Hello! <?php echo $user['user_nickname'];?>. [<a href="<?php echo $www_site_url;?>/index.php/passport/logout"><?php echo lang('menu6');?></a>]</span>
	<?php echo lang('selectlanguage');?>:<select name="select_lang" onchange="window.location.href='<?php echo $www_site_url;?>/index.php/index/setlang/'+this.options[this.selectedIndex].value">
	<option value="zh-cn" <?php if($selected_lang=='zh-cn') echo "selected"; ?> ><?php echo lang('zh-cn');?></option>
	<option value="zh-tw" <?php if($selected_lang=='zh-tw') echo "selected"; ?> ><?php echo lang('zh-tw');?></option>
	<option value="en" <?php if($selected_lang=='en') echo "selected"; ?> ><?php echo lang('en');?></option>
	</select>
	
	</div>

</div>

