<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $web_title?></title>
<LINK href="<?php echo $www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>
</head>
<body>
<div class="container">
	
	<h3><?php echo lang('system_info')?></h3>

	<ul class="memlist">
		<li><em><?php echo lang('os_php')?>:</em><?php echo $serverinfo?></li>
		<li><em><?php echo lang('webserver')?>:</em><?php echo $_SERVER['SERVER_SOFTWARE']?></li>
		<li><em><?php echo lang('mysql_version')?>:</em><?php echo $dbversion?></li>

		<li><em><?php echo lang('upload_size')?>:</em><?php echo $fileupload?></li>
		<li><em><?php echo lang('mysql_datasize')?>:</em><?php echo $dbsize?></li>		
		<li><em><?php echo lang('hostname')?>:</em><?php echo $_SERVER['SERVER_NAME'].' ('.':'.$_SERVER['SERVER_PORT'].')'?></li>
		<li><em>magic_quote_gpc:</em><?php echo $magic_quote_gpc?></li>
		<li><em>allow_url_fopen:</em><?php echo $allow_url_fopen?></li>		
	</ul>

</div>


</body>
</html>