<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">

<div id="tabsD" style="width:100%">
  <ul>
    <li <?php if($type=='corpstats') echo 'class="on"';?>><a href="/client.php/home/corpstats" title="<?php echo lang("assignmentprogress");?>"><span><?php echo lang("assignmentprogress");?></span></a></li>
    <li <?php if($type=='corprank') echo 'class="on"';?>><a href="/client.php/home/corprank" title="<?php echo lang("ranking");?>"><span><?php echo lang("ranking");?></span></a></li>


  </ul>
</div>
<br />
<br />
<br />

<div style="margin-right:50px;float:right;clear:both">
      <a href="javascript:printpage(1);"><img src="<?php echo $www_site_url?>/public/images/print_icon.jpg" border="0" title="Print"></a>
      </div>
<br/>
<!--startprint1-->
<div style="margin-top:10px">

 <table width="45%" border="1" style="float:left;margin-bottom:20px" cellpadding="0" cellspacing="1" class="missionReport">
    <tr>
      <td colspan="3" class="title" bgcolor="#9F0000"><font color="#ffffff"><?php echo lang("general");?></font></td>
    </tr>
    <?php
  if(isset($general)&& is_array($general)){
  	$n=0;
				foreach ($general as $k=>$v){
					$n++;
					?>
    <tr>
      <td><?php echo $n;?>.</td>
      <td><?php echo stripslashes(splitx($store_name[$k]));?></td>
      <td><?php echo $v;?></td>
    </tr>
 <?php }}?>
  </table>

  <table style="float:right;margin-bottom:20px" width="45%" border="1" cellpadding="0" cellspacing="1" class="missionReport">
       <tr>
      <td colspan="3" class="title" bgcolor="#9F0000"><font color="#ffffff"><?php echo lang("environment");?></font></td>
    </tr>
    <?php
  if(isset($environment)&& is_array($environment)){
  	$n=0;
				foreach ($environment as $k=>$v){
					$n++;
					?>
    <tr>
      <td><?php echo $n;?>.</td>
        <td><?php echo stripslashes(splitx($store_name[$k]));?></td>
      <td><?php echo $v;?></td>
    </tr>
 <?php }}?>
  </table>

  <table width="45%" style="float:left;margin-bottom:20px" border="1" cellpadding="0" cellspacing="1" class="missionReport">
       <tr>
      <td colspan="3" class="title" bgcolor="#9F0000"><font color="#ffffff"><?php echo lang("service");?></font></td>
    </tr>
    <?php
  if(isset($service)&& is_array($service)){
  	$n=0;
				foreach ($service as $k=>$v){
					$n++;
					?>
    <tr>
    <td><?php echo $n;?>.</td>
       <td><?php echo stripslashes(splitx($store_name[$k]));?></td>
      <td><?php echo $v;?></td>

    </tr>
 <?php }}?>
  </table>


  <table width="45%" style="float:right;margin-bottom:20px"  border="1" cellpadding="0" cellspacing="1" class="missionReport">
       <tr>
      <td colspan="3" class="title" bgcolor="#9F0000"><font color="#ffffff"><?php echo lang("product");?></font></td>
    </tr>
    <?php
  if(isset($product)&& is_array($product)){
  	$n=0;
				foreach ($product as $k=>$v){
					$n++;
					?>
    <tr>
    <td><?php echo $n;?>.</td>
        <td><?php echo stripslashes(splitx($store_name[$k]));?></td>
      <td><?php echo $v;?></td>

    </tr>
 <?php }}?>
  </table>

  </div>
<!--endprint1-->
</div>

</div>


<?php include_once("footer.html")?>
