<div class="adminmenupanel">
    	<div class="panel">
        	<div class="title"><span>用户控制面板</span></div>
      		<div class="content">
            	<li <?php if($view=='defaults') echo 'class="selected"';?>><a href="/client.php/home">首页</a></li>
            	<li <?php if($view=='corp') echo 'class="selected"';?>><a href="/client.php/home/corp">公司资料</a></li>
            	<li <?php if($view=='shopperdemand') echo 'class="selected"';?>><a href="/client.php/home/shopperdemand">神秘顾客</a></li>

            	<li <?php if($view=='overall') echo 'class="selected"';?>><a href="/client.php/home/overall">综览</a></li>
                <li <?php if($view=='environment') echo 'class="selected"';?>><a href="/client.php/home/environment">环境</a></li>
            	<li <?php if($view=='service') echo 'class="selected"';?>><a href="/client.php/home/service">服务</a></li>
                <li <?php if($view=='product') echo 'class="selected"';?>><a href="/client.php/home/product">产品</a></li>
                <li <?php if($view=='stores') echo 'class="selected"';?>><a href="/client.php/home/stores">分店</a></li>
        		<li <?php if($view=='comments') echo 'class="selected"';?>><a href="/client.php/home/comments">评论分析</a></li>

            </div>
        </div>
        
</div>