<div id="tabsD" style="width:100%">
  <ul>

    <li <?php if($type=='corp') echo 'class="on"';?>><a href="/client.php/hometotal/corp" title="<?php echo lang("profile");?>"><span><?php echo lang("profile");?></span></a></li>
    <li <?php if($type=='corpcontact') echo 'class="on"';?>><a href="/client.php/hometotal/corpcontact" title="<?php echo lang("contact");?>"><span><?php echo lang("contact");?></span></a></li>
    <li <?php if($type=='corpstore') echo 'class="on"';?>><a href="/client.php/hometotal/corpstore" title="<?php echo lang("locations");?>"><span><?php echo lang("locations");?></span></a></li>
  </ul>
</div>