<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>

      <script>
function printpage(oper){
	 bdhtml=window.document.body.innerHTML;//获取当前页的html代码
	sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
	eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
	prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
	
	prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
	window.document.body.innerHTML=prnhtml;
	window.print();
	window.document.body.innerHTML=bdhtml;
}

</script>
<div class="admincontent">

		<div style="float:right;margin-right:10px;">
      <a href="javascript:printpage(1);"><img src="<?php echo $www_site_url?>/public/images/print_icon.jpg" border="0" title="Print"></a>
      </div>
      <!--startprint1-->
		<?php if(isset($report_questions) && is_array($report_questions)){?>
			
		    <p>评分说明：</p>
			<table width="760" border="0" cellpadding="0" cellspacing="1" class="missionReport" class="clear">
          <tr>
            <td class="title">不适用</td>
            <td class="title">差</td>
            <td class="title">不好</td>
            <td class="title">需要改进</td>
            <td class="title">一般</td>
            <td class="title">好</td>
            <td class="title">很好</td>
            <td class="title">完美</td>
          </tr> 
          <tr>
            <td align="center">n/a</td>
            <td align="center">0</td>
            <td align="center">1-2</td>
            <td align="center">3-4</td>
            <td align="center">5</td>
            <td align="center">6-7</td>
            <td align="center">8-9</td>
            <td align="center">10</td>
          </tr>
       
          </table>
         
         
	<?php
		foreach ($report_questions as $k=>$v){?>
		<table width="760" border="0" cellpadding="0" cellspacing="1" class="missionReport" style="margin-top:10px;">
          <tr>
            <td colspan="3" class="title"><?php echo lang($k);?></td>
          </tr>
          <?php
			foreach ($v as $kk=>$vv){
				if($vv['rq_type']==2 || $vv['rq_type']==4 || $vv['rq_type']==1){
				?>
          <tr>
			 <td width="5%"><?php echo $GLOBALS['gGroupsCap'][$k]. "".($kk+1)?></td>
            <td width="65%"><?php echo $vv['rq_question']?></td>
            <td  width="30%" align="center">
            <?php 
            	if($vv['rq_type']==2){
            		if($vv['answer']=='A') echo 'N/A';
            		else 
            		echo $vv['answer']; 
            	}else if($vv['rq_type']==1){ 
					if($vv['answer']=='Y')echo 'Yes'; 
					if($vv['answer']=='N')echo 'No';  
					if($vv['answer']=='A')echo 'N/A';  
            	}else if($vv['rq_type']==4){ 
            		echo $vv['answer']."分钟"; 
				 }?>
            </td>
          </tr>
       		 <?php 
				}else if($vv['rq_type']==3){ 
			
					if($vv['rq_group']==5){
					?>	
			<tr>
			 <td width="5%" valign="top"><?php echo $GLOBALS['gGroupsCap'][$k]. "".($kk+1)?></td>
			  <td width="65%"><?php echo $vv['rq_question']?></td>
              <td  width="30%" align="center"><?php echo $vv['answer']; ?></td>
          	</tr>
          <? }else{?>
			<tr>
			 <td width="5%" valign="top"><?php echo $GLOBALS['gGroupsCap'][$k]. "".($kk+1)?></td>
             <td width="95%" colspan="2" style="padding:0">
            
		            <table width="100%" border="0" cellpadding="0" cellspacing="0">
			            <tr> 
			            	<td width="50%" style="background-color:#ccc;"> <?php echo $vv['rq_question']?></td>
			            
			          	</tr>
			           <tr>
				           <td style="height:50px">
								<?php echo nl2br(htmlspecialchars(stripslashes($vv['answer']),ENT_QUOTES)); ?>
				           </td>
			            </tr>
		             </table>
            </td>
          </tr>	
	   <?php } 
			
				}
				
			}
			?>
			
        </table>
 		<?php }
		}?>
 		<!--endprint1-->
				

</div>

</div>


<?php include_once("footer.html")?>
