<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">
<div id="tabsD" style="width:100%"> 
  <ul> 
    <li <?php if($type=='shoppers') echo 'class="on"';?>><a href="/client.php/home/shoppers" title="<?php echo lang("a_demand");?>"><span><?php echo lang("a_demand");?></span></a></li> 
    <li <?php if($type=='description') echo 'class="on"';?>><a href="/client.php/home/description" title="<?php echo lang("a_desc");?>"><span><?php echo lang("a_desc");?></span></a></li> 
    <li <?php if($type=='quiz') echo 'class="on"';?>><a href="/client.php/home/quiz" title="<?php echo lang("a_quiz")?>"><span><?php echo lang("a_quiz")?></span></a></li> 
    <li <?php if($type=='report') echo 'class="on"';?>><a href="/client.php/home/report" title="<?php echo lang("report")?>"><span><?php echo lang("report")?></span></a></li> 
  </ul> 
</div>

<br />
      <br />
<table width="100%" cellpadding="10" cellspacing="1" class="missionReport" class="clear" style="margin-top:10px">

					<tr>
							<td class="title"><?php echo lang("ordernum")?></td>
							<td class="title"><?php echo lang("questions")?></td>
							<td class="title"><?php echo lang("options")?></td>
							<td class="title"><?php echo lang("answer")?></td>
							</tr>
					<?php
	
						if(isset($quiz) && is_array($quiz)){
							foreach ($quiz as $k=>$v){?>	
							
					<tr>
							<td valign="top" width="6%"><?php echo ($k+1).". ";?></td>
							<td valign="top" width="50%"><?php  if(isset($v['title'])) echo $v['title'];?></td>
							
							<td>
							<ul class="quiz">
<?php if(isset($v['A'])) {?><li><label>A. <?php echo $v['A']?></label></li><?php }?>
<?php if(isset($v['B'])) {?><li><label>B. <?php echo $v['B']?></label></li><?php }?>
<?php if(isset($v['C'])) {?><li><label>C. <?php echo $v['C']?></label></li><?php }?>
<?php if(isset($v['D'])) {?><li><label>D. <?php echo $v['D']?></label></li><?php }?>
							</ul>
							</td>
							<td  valign="top">
							<?php echo $v['answer'];?>
							</td>
							
					</tr>
						
						<?php }
						}
				
						?>
						</table>
   

</div>

</div>


<?php include_once("footer.html")?>
