<?php include_once("header.html")?>

<div id="wrap">  <br />

<?php include_once("home_left.html")?>
<div class="admincontent">
<?php include_once("home_corptop.html")?>

<br />
      <br />
      <br />
<TABLE width="100%" border="0" cellspacing="1" cellpadding="0" class="clear missionReport">
<TR>
<TD width="15%"  style="background:#efefef">名称</TD>
<TD width="25%" style="background:#efefef">规模</TD>
<TD width="15%" style="background:#efefef">电话</TD>
<TD width="45%" style="background:#efefef">地址</TD>
</TR>
<TR>
<?php if(isset($stores)){
	foreach ($stores as $s){?>

<TR><TD><?php echo $s['cs_name'];?></TD>
<TD><?php 
foreach ($GLOBALS['gCompanysize'] as $k=>$v){
	if($k==$s['cs_size']) echo ($v);
}
?></TD>
<TD><?php echo $s['cs_phone'];?></TD>
<TD><?php echo $s['cs_address'];?></TD>
</TR>
<?php }}?>
</TR>


</table>
   

</div>

</div>


<?php include_once("footer.html")?>
