
<?php include_once("header.html")?>


<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">
        	<div class="right">企业登录</div>
    </div>
  </div>
  <div class="regInfo">
  
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<FORM name="loginform" id="loginform" action="/client.php" method="POST" onsubmit="return checkOnSubmit('loginform', rules);" >
<input type="hidden" name="action" value="index">
<input type="hidden" name="op" value="dologin">
<input type="hidden" name="s" id="s" value="">
<TABLE  width="100%" border="0" cellspacing="0" cellpadding="0">

<TR><TD width="40%" class="text"></TD>
<TD width="60%"><div id="msg"></div></TD></TR>
<TR><TD width="40%" class="text"><?php echo lang('user')?>:</TD>
<TD width="60%"><div id="errorsDiv_user"></div><INPUT class="textfield" type="text" name="user" value="" onfocus="this.value='';"/>&nbsp;&nbsp;</TD></TR>

<TR><TD class="text"><?php echo lang('pwd')?>:</TD>
<TD><div id="errorsDiv_password"></div><INPUT class="textfield" type="password" name="password" />&nbsp;&nbsp;</TD></TR>

<TR> <td class="text">&nbsp;</td>
<TD ><INPUT type="image" src="<?php echo $www_site_url?>/public/images/btn_login2.gif" value="<?php echo lang('signon')?>" /> 
</TD><TD></TD></TR>
</TABLE>
</form>

<SCRIPT>
//only for test purposes
var _key = "<?php echo $_XppassSignKey?>";
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
    	document.getElementById(formName).password.value = hex_md5(document.getElementById(formName).password.value);
    	document.getElementById(formName).s.value = hex_hmac_md5(_key,document.getElementById(formName).password.value);
    	
		var url = "<?php echo $www_site_url?>/client.php";
		var params = mini.form.serialize($(formName));
		mini.ajax.post(url, function(r){
	
			var r = eval('(' + r + ')');   
			if(r.s==200){
				window.location.replace(r.d);
			}
			if(r.s==400){
				if(r.m=='reload') window.location.reload();
				else $('msg').innerHTML = r.m;			
			}
		}, params);
    	
    	return false;
    } 
    return false;
}
function changeCode() {
	var num = 	new Date().getTime();
	var rand = Math.round(Math.random() * 10000);
	num = num + rand;
	document.getElementById("codeimg").src = "<?php echo $www_site_url?>/index.php/identifycode/generate/" + num;
	return false;
}
var rules=new Array();

rules[0]='user|required|<?php echo lang('helpmsg1')?>';
rules[1]='password|required|<?php echo lang('helpmsg2')?>';



yav.addHelp('user', '');
yav.addHelp('password', '');
window.onload = function()
                {
                	yav.init('loginform', rules);
                          // Not coming here at all on first shot   
                }

</SCRIPT>
<p>&nbsp;</p>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
