<?php include_once("header.html")?>

<div id="wrap">
	<div class="bigpic" style="margin-bottom:1px;">
    	<div><img src="/public/images/tmp_01_16.jpg" width="950" height="245" /></div>

    </div>
    <div id="clientBottom">
      <p><span class="title">什么是神秘顾客</span><br />  
        <br />
        作为中国业内的领先品牌，JETT专门为中国的零售、酒店及餐饮等社会服务性行业的可持续发展提供度身定制的评估、激励和培训服务。我们的使命是增强中国新一代服务业同仁的信心，激发其行业领导力——确保他们每次的服务过程中都能够提供极致完美的顾客体验。作为中国业内的领先品牌，JETT专门为中国的零售、酒店及餐饮等社会服务性行业的可持续发展提供度身定制的评估、激励和培训服务。     我们的使命是增强中国新一代服务业同仁的信心，激发其行业领导力——确保他们每次的服务过程中都能够提供极致完美的顾客体验。作为中国业内的领先品牌，JETT专门为中国的零售、酒店及餐饮等社会服务性行业的可持续发展提供度身定制的评估、激励和培训服务。<br />
        <br />
        <br />
    </p>

      <p align="right"><img src="/public/images/dot2.gif" width="8" height="7" border="0" />&nbsp;&nbsp; <a href="#">更多详细资料... </a></p>
    </div>
</div>
<?php include_once("footer.html")?>
