<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="table2TitleBg">
            <div class="table2TitleBg2">
              <div class="table2Title">收件箱</div>
            </div>
           </div></td>
        </tr>

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="table2LeftBorder"></td>
              <td><table width="100%" border="0" cellspacing="10" cellpadding="0">

                <tr>
                  <td width="9%"><img src="images/tmp_face.jpg" width="50" height="50" /></td>
                  <td width="58%"><a href="#">请问关于报酬的问题...</a></td>

                  <td width="19%">2010.03.01.
                    12:34:34</td>
                  <td width="7%"><img src="images/icon_new.gif" alt="新" width="30" height="15" /></td>
                  <td width="7%"><input type="checkbox" name="checkbox" id="checkbox" /></td>
                </tr>
                <tr>
                  <td><img src="images/tmp_face.jpg" width="50" height="50" /></td>
                  <td><a href="#">请问关于报酬的问题...</a></td>
                  <td>2010.03.01.
                    12:34:34</td>

                  <td>&nbsp;</td>
                  <td><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                </tr>
              </table></td>
              <td class="table2RightBorder"></td>
            </tr>
            <tr>
              <td class="table2BottomLeft"></td>
              <td class="table2Bottom"></td>

              <td class="table2BottomRight"></td>
            </tr>
          </table></td>
        </tr>
      </table><br />
      <input name="button4" type="submit" class="btn" id="button4" value="撰写邮件" /> <br />
      <br />
      <div class="pages">

        <input type="checkbox" name="checkbox3" id="checkbox3" />
      全选 | <a href="#">标记为已读</a> | <a href="#">标记为未读</a></div>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
