<?php include_once("header.html")?>
<script src="<?php echo $www_site_url?>/public/js/PCASClass.js"></script>
<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <form action="/index.php" method="GET">
      <input type="hidden" name="action" value="home">
      <input type="hidden" name="view" value="allassignment">
          <td><div class="table2TitleBg">
            <div class="table2TitleBg2">
            <div style="float:right;margin:5px;"><select name="province"></select><select name="city"></select><select name="area"></select> <input type="submit" class="btn"  value="Search"></div>
				<div class="table2Title"><div class="table2TitleLeft"><span><?php echo lang('assignment_board')?></span></div></div>
            </div>
           
           </div></td>
        </tr>
        </form>
       

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            
       		 <tr>
              <td class="table2LeftBorder"></td>
              <td>
				<?php if(isset($assignments['records']) && is_array($assignments['records'])){
							foreach ($assignments['records'] as $v){?>	
                    <div class="mission">
	                      <div class="logo">
	                        <p><a href="/index.php/home/assignment/a_id/<?php echo $v['a_id']?>"><img src="/public/upload/logo/<?php if(!empty($v['b_logo'])) echo $v['b_logo'] ;else echo $v['c_logo']?>" width="68" height="68" border="0" /></a></p>
	
	                      </div>
	                      <div class="des"><b><a href="/index.php/home/assignment/a_id/<?php echo $v['a_id']?>"><?php echo splitx($v['a_title']);?></a></b><br />
	                        <?php echo lang('start_date')?>：<?php echo str_replace('-','/',$v['a_sdate']);?><br />
	                      	<?php echo lang('end_date')?>：<?php echo str_replace('-','/',$v['a_edate']);?>
	                      </div>
                    </div>
                  <?php }
						}?>
      <div class="pages"><?php echo $assignments['pagebar']?></div>
              </td>
              <td class="table2RightBorder"></td>

            </tr>
            <tr>
              <td class="table2BottomLeft"></td>
              <td class="table2Bottom"></td>
              <td class="table2BottomRight"></td>
            </tr>
          </table></td>
        </tr>
      </table>
<script>
new PCAS("province","city","area","<?php echo $con['province']?>","<?php echo $con['city']?>","<?php echo $con['area']?>");

</script>
    </div>
</div>
</div>
<?php include_once("footer.html")?>