<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

    <div id="tabsD" style="width:100%"> 
  <ul> 
    <li><a href="#" title="关于我们"><span>联系方式</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>个人信息</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>其他信息</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>基本资料</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>付款方式</span></a></li> 
    <li><a href="#" title="什么是神秘顾客"><span>头像上传</span></a></li> 
  </ul> 
</div>

<br />
<br />
<br />
<br />
<br />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="regInfo">
  <tr>
    <td width="40%" class="text">用户名：</td>
    <td width="60%"><input name="textfield" type="text" class="input" id="textfield" />
        <img src="images/icon_right.gif" width="15" height="15" /> </td>
  </tr>

  <tr>
    <td class="text">密码：</td>
    <td><input name="textfield2" type="password" class="input" id="textfield2" />
        <img src="images/icon_error.gif" width="15" height="15" /></td>
  </tr>
  <tr>
    <td class="text">再输入一次密码：</td>
    <td><input name="textfield3" type="password" class="input" id="textfield3" /></td>

  </tr>
  <tr>
    <td class="text">电子邮箱：</td>
    <td><input name="textfield4" type="text" class="input" id="textfield4" /></td>
  </tr>
  <tr>
    <td class="text">验证码：</td>
    <td><input name="textfield5" type="text" class="input" id="textfield5" style="width:100px;" />

      <a href="#">看不清楚？换一个！</a></td>
  </tr>
  <tr>
    <td class="text">&nbsp;</td>
    <td><img src="images/tmp_yanzhengma.gif" width="152" height="62" /></td>
  </tr>
  <tr>
    <td class="text">&nbsp;</td>

    <td><label> <br />
          <br />
          <input type="image" name="imageField" id="imageField" src="images/btn_save.gif" />
    </label></td>
  </tr>
</table>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
