<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

	    <div id="tabsD" style="width:100%"> 
		  <ul> 
		    <li><a href="/index.php/home/mydetail/contact"><span><?php echo lang('contact')?></span></a></li> 
		    <li><a href="/index.php/home/mydetail/extinfo" ><span><?php echo lang('profiles')?></span></a></li> 
		    <li><a href="/index.php/home/mydetail/other" ><span><?php echo lang('diningcustoms')?></span></a></li> 
		    <li><a href="/index.php/home/mydetail/payment" ><span><?php echo lang('payments')?></span></a></li> 
		    <li><a href="/index.php/home/mydetail/upload" ><span><?php echo lang('uploadface')?></span></a></li> 
		    <li class="on"><a href="/index.php/home/resetpwd" ><span><?php echo lang('resetpwd')?></span></a></li> 
		  </ul> 
		</div>

<div class="clear"></div>

<FORM name="resetpwdform" method="POST" action="<?php echo $www_site_url?>/index.php" onsubmit="return checkOnSubmit('resetpwdform', rules);" >
<input type="hidden" name="action" value="home">
<input type="hidden" name="op" value="resetpwd">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" class="regInfo">

<TR><TD width="40%" class="text"><?php echo lang('oldpwd')?>:</TD><TD width="60%"><INPUT class="input" type="password" name=oldpwd />&nbsp;&nbsp;<span id=errorsDiv_oldpwd></span></TD></TR>
<TR><TD width="40%" class="text"><?php echo lang('newpwd')?>:</TD><TD width="60%"><INPUT class="input" type="password" name=newpwd1 />&nbsp;&nbsp;<span id=errorsDiv_newpwd1></span></TD></TR>
<TR><TD class="text"><?php echo lang('newpwd2')?>:</TD><TD><INPUT class="input" type="password" name=newpwd2 />&nbsp;&nbsp;<span id=errorsDiv_newpwd2></span></TD></TR>

<TR>
<TD><br></TD>
  <TD><br />
      <input name="button" type="submit" class="btn" id="button" value="<?php echo lang('submit')?>" /></TD>
</TR>
</TABLE>
</form>
<SCRIPT>
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
       return true;
    } 
    return false;
}

var rules=new Array();

rules[0]='oldpwd|required|<?php echo lang('insertpwd')?>';
rules[1]='newpwd1|required|<?php echo lang('insertpwd')?>';
rules[2]='newpwd1|minlength|6|<?php echo lang('pwdrule')?>';
rules[3]='newpwd2|equal|$newpwd1|<?php echo lang('pwdnotsame')?>';


window.onload = function(){
	yav.init('resetpwdform', rules);
}
</SCRIPT>
  </div>
</div>

<?php include_once("footer.html")?>