<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="table2TitleBg">
            <div class="table2TitleBg2">
              <div class="table2Title">历史任务</div>
            </div>
           </div></td>
        </tr>

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="table2LeftBorder"></td>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1" class="historyMission">
                <tr>
                  <td class="title">完成日期</td>
                  <td class="title">品牌</td>

                  <td class="title">分店</td>
                  <td class="title">任务名称</td>
                  <td class="title">报酬（单价：人民币）</td>
                </tr>
                <tr>
                  <td>2010.3.1.</td>
                  <td>避风塘</td>

                  <td>徐汇店</td>
                  <td><a href="#">避风塘徐汇店每月调查</a></td>
                  <td>50.00</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
              <td class="table2RightBorder"></td>
            </tr>
            <tr>
              <td class="table2BottomLeft"></td>

              <td class="table2Bottom"></td>
              <td class="table2BottomRight"></td>
            </tr>
          </table></td>
        </tr>
      </table>
      </div>
</div>
</div>
<?php include_once("footer.html")?>