<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">
		<?php include_once("home_assignmenttop.html")?>
		
		<br />
	    <br />
	     <?php if($is_view && $assignmentinfo['a_quiz_pass']>0){
    	?>
	    <FORM name="uplaodform" id="uplaodform" method="POST" enctype="multipart/form-data" >
<input type="hidden" name="action" value="home">
<input type="hidden" name="op" value="upload">
<input type="hidden" name="a_id" value="<?php echo $assignmentinfo['a_id'];?>">
 <TABLE width="100%" border="0" cellspacing="0" cellpadding="0" class="regInfo">
<TR>
<TD width="20%" class="text"></TD>
<TD width="80%"><div id="msg" style="margin:0 auto;"></div></TD>
</TR>
<?php 
if(is_array($attachments)){
	foreach ($attachments as $k=>$a){
	?>

<TR>
<TD class="text"><?php echo $k+1;?>.</TD>
<TD ><?php echo '<a href="/public/upload/'.$a['f_name'].'">'.$a['f_name'].'</a> '.$a['f_created'];?></TD>
</TR>
<?php
	}
}
?>
<TR>
<TD class="text"><?php echo lang("mp3_image")?></TD>
<TD><div id="errorsDiv_face"></div>
  
<INPUT type="file" name="mfile" id="mfile" class="input" /> (<?php echo lang("support_file_format")?>：jpg|png|gif|jpeg|mp3|wma ,<?php echo lang("less_than")?>2MB)
</TD>
</TR>

  <tr>
    <td class="text"></td>

    <td>
          <input name="button5" type="submit" class="btn" id="button5" value="<?php echo lang("save")?>" />
    </td>
  </tr>
</table>
  </form>
  <?php 
	}else{?>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <div align="center"><?php echo lang("apply_first")?></div>

  <?php }?>
  	</div>

</div>
<?php include_once("footer.html")?>
