<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $web_title?></title>
<LINK href="<?php echo $www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>

</head>
<body>
<?php include_once("header.html")?>
<p>
<?php echo $msg?>
</p>
<h2><?php echo lang('index_name')?></h2>

<div style="float:left">
<p><b><?php echo lang('feature')?>:</b></p>
<p><?php echo lang('feature_1')?></p>
<p><?php echo lang('feature_2')?></p>
<p><?php echo lang('feature_3')?></p>
<p><?php echo lang('feature_4')?></p>
<p><?php echo lang('feature_5')?></p>
<p><?php echo lang('feature_6')?></p>
</div>
<div style="float:left;margin:30px"><a href="<?php echo $www_site_url?>/public/images/ticket_chart.gif" target="_blank"><img width="60%" src="<?php echo $www_site_url?>/public/images/ticket_chart.gif" border="0"></a></div>
<div style="clear:both"></div>
<?php include_once("footer.html")?>
</body>
</html>