<?php include_once("header.html")?>
<div id="wrap">  <br />
  	<div class="tabsA">
    	<div class="left">
        	<div class="right"><?php echo lang("protocol")?></div>
    	</div>
    </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  <?php if($selected_lang=='zh-cn'){?>
    <p>甲方（spot）：                  乙方（神秘顾客）：</p>

    <p>根据《中华人民共和国合同法》及其相关法律、法规，甲乙双方经平等协商，自愿签订本合同，共同遵守本合同所列条款。</p>
    <p>&nbsp;</p>    
    <p >一、据本协议条款的约定，在双方签署本协议之后，乙方为甲方开展一项神秘顾客的调查项目服务。</p>
    <p>&nbsp;</p>    
    <p >二、乙方以独立承包人的身份进行神秘顾客的调查服务，乙方不是甲方公司的员工，也不是甲方公司的合作人，代理商或是合资者等任何其他关系。甲方亦无需为乙方交纳任何养老、失业、大病医疗统筹及其它社会保险费用。</p>
    <p>&nbsp;</p>    
    <p >三、乙方在协议期内必须服从甲方的安排或调整，包括但不限于接受甲方的相关培训和指导、接受甲方对被调查对象所在行业的基本业务知识及工作流程的培训、接受甲方对调查对象、调查时间、调查地点的安排或调整。
    乙方两次及两次以上不接受甲方的安排或调整，则视为违约，甲方可解除本合同，并要求乙方承担违约金。</p>
    <p>&nbsp;</p>
    <p >四、支付报酬</p>
    <p><br />
      1、报酬的结算方式及期限：按实际次数结算，报酬在调查服务工作完成支付。经双方同意每次调查服务的报酬可另行约定。
      <br />
      2、甲方将通过快递或银行、支付宝转账等付款方式支付报酬。
      <br />
     3、甲方支付报酬之前，乙方必须提供已进行神秘顾客调查服务的凭据（如：已就餐的凭据），包括但不限于发票、收据。甲方有权对乙方提供的发票、收据等的真实性、合法性及与乙方调查服务的关联性进行审查，乙方提供的凭据及神秘顾客调查服务经甲方审查不符合规定的，包括但不限于乙方迟到、提供不完整准确的凭证，以及没有遵循准则条款等，甲方有权不予支付报酬和报销相应的费用。
     <br />
     4、神秘顾客不能以SPOT公司的名义开设银行账户、签署发票，且神秘顾客不得以任何形式干涉SPOT公司的经营。 
       </p>
    <p>&nbsp;</p>
    <p >五、甲方对于支付给乙方的费用，甲方没有任何缴纳税款及扣税等义务，乙方以独立承包人的身份自行缴纳相关税款和费用。</p>

    <p>&nbsp;</p>
    <p >六、乙方在进行神秘顾客调查服务的检测方法包括但不限于入店检测,电话检测,网络检测, 邮件检测,面对面神秘顾客检测；甲方安排的每次神秘顾客调查服务，乙方必须及时、有效的完成，若乙方没有能力完成，应在48小时内通知甲方并得到甲方的同意，否则视为违约。 </p>
       <p>&nbsp;</p>
    <p >七、如果乙方接受了多个任务，但未能在甲方规定的时间内完成所有的任务，由此给甲方所带来的利益、信誉度上的损失将由乙方承担违约责任。甲方安排的每次神秘顾客调查服务，乙方必须亲自完成，乙方将其另行委托于非本人之外的任何第三人完成都视为违约。</p>
    <p>&nbsp;</p>
    <p >八、乙方在进行神秘顾客调查服务之前，需了解和明白甲方安排的调查内容；乙方在购物或消费等调查服务期间，严禁携带和填写表格等可能暴露其神秘顾客身份的活动。甲方以任何方式发现乙方发生上述情况，则视为违约。</p>
 <p>&nbsp;</p>
    <p >九、乙方必须在进行神秘顾客调查服务48小时内，完成甲方安排的填写表格、亲笔书写等相关报告，且乙方的报告必须真实、准确、完整。</p>

 <p>&nbsp;</p>
    <p >十、乙方在进行神秘顾客调查服务期间，必须保持潜在消费者或真实消费者的身份，不得暴露自己神秘顾客的身份，更不能给对方进行任何的暗示甚至公开宣称自己的身份，否则视为违约。</p>
 <p>&nbsp;</p>
    <p >十一、乙方在前往神秘顾客调查服务的途中或进行神秘顾客调查服务期间，发生的任何行为、事件，包括但不限于车祸、食物中毒、餐厅内摔伤等，甲方不负任何法律责任。
<br />乙方在进行神秘顾客调查服务期间，不得与被调查公司的员工等发生任何形式的冲突，不得影响被调查公司的其他客户，否则由此产生的一切责任由乙方承担。
</p>
<p>&nbsp;</p>
    <p >十二、乙方因神秘顾客调查服务所得到的任何信息和书面文件、材料，甲方享有相应的知识产权，乙方应当保密，未经甲方书面允许，乙方不得以网站、博客、公开出版等任何形式向任何第三人披露。乙方擅自使用和泄露甲方享有相应的知识产权，将赔偿由此产生的一切经济损失。
</p><p>&nbsp;</p>
    <p >
    十三、<br />
  </p>
<p>  1、乙方不得刺探与本合同无关的甲方商业秘密；不得向任何第三人披露甲方的商业秘密；<br />
    2、不得使任何第三人（包括甲方单位内部员工）获得、使用或计划使用甲方商业秘密信息，不得直接或间接向单位内部、外部的人员泄露商业秘密信息；<br />
    3、不得允许（出借、赠与、出租、转让等方式处分甲方商业秘密的行为皆属于“允许”）或协助任何第三人使用甲方商业秘密信息；<br />
    4、不得复制或公开包含甲方单位商业秘密内容的文件、信函、正本、副本、磁盘、光盘等；<br />
    5、乙方应当于合同终止时，或者于甲方提出请求时，返还全部属于甲方的财物，包括记载着甲方秘密信息的一切载体。<br />
</p>
<p>&nbsp;</p>
    <p >
   十四、双方当事人的违约责任
   </p> <p><br />
    除不可抗力等特殊情况外，若未按合同约定履行本协议，违约方将向守约方承担如下违约责任：<br />
    1、违约方按累计应付款的30％(包括但不限于：餐费 优惠券 报酬 等)向守约方支付违约金，守约方实际经济损失超过违约方支付的违约金时，实际经济损失与违约金的差额部分由违约方据实赔偿；<br />
    2、守约方在要求违约方支付违约金或实际经济损失的同时，可解除或终止本合同，但乙方解除本合同，应当提前三个月以书面形式通知甲方。<br />
</p> 
<p>&nbsp;</p>
<p >
十五、争议的处理


   </p> <p><br />
   1．本合同受中国法律管辖并按其进行解释。<br />
   2．本合同在履行过程中发生的争议，由双方当事人协商解决，协商不成的，任何一方有权向双方当事人所在地人民法院提起诉讼。<br />
</p>
<?php }?>
<?php if($selected_lang=='en'){?>
<p>SPOT Mystery Shopping Terms and Conditions</p><br />
<p>By applying to SPOT as a Mystery Shopper you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern SPOT relationship with you in relation to this website.</p><br />
<p>1.	You understand that there is no guarantee that there will be any immediate Mystery Shopping assignments available. When mystery shops do come up, you will always be completely free to accept or reject the assignments. There is no obligation on either party. </p><br />
<p>2.	Your services are rendered as an independent contractor. You are not an employee of SPOT.  You will not be paid insurance of any kind.</p><br />
<p>3.	Should you accept an assignment, an implied contract between you, as an Independent Contractor, and SPOT is created. In the event you are unable to perform an accepted assignment, you agree that you will promptly notify SPOT by phone or by E-mail within 48 hours of the due date. All assignments are grouped together as one contractual agreement. Should you be assigned multiple assignments, and you do not submit one of them by the agreed-upon deadline without informing your scheduler within the aforementioned delay, SPOT maintains the right to not reimburse you for any of your shops in that group of assignments and remove you as a Mystery Shopper.</p><br />
<p>4.	You acknowledge that in the course of your relationship with SPOT, you will be exposed to valuable trade secrets and proprietary and confidential information that is owned or controlled by SPOT and SPOT's clients. (This includes, but is not limited to: reports, forms, questionnaires, surveys, client programs, methodologies, training materials, and so forth). You must treat this information as confidential and take all necessary precautions against disclosure of the information to third parties during, and after your contract with SPOT.</p><br />
<p>5.	You must not directly or indirectly, disclose, allow access to, transmit or transfer any information that you receive to a third party without the consent of SPOT, nor may you copy or reproduce the information except as may be reasonably required to provide your services. You must not forward any of our materials or E-mails to anybody or share any confidential information (as specified in Article 4) in other forms of media (This includes, but is not limited to: internet, newspapers, magazines, television, radio, and so forth)</p><br />
<p>6.	As soon as you have agreed to do a particular mystery shopping visit, you must personally perform the visit and complete the report. You are not allowed to give the Mystery Shopping assignment to another person such as a family member or a friend to take your place in honoring the mystery shopping assignment.</p><br />
<p>7.	It is understood that upon accepting a mystery shopping assignment, you will behave with the utmost honesty and integrity during the entire mystery visit. Please refrain from any behavior that might disrupt other customers or be improper towards the staff. Your actions and behavior must reflect the highest standard of professionalism at all times.</p><br />
<p>8.	SPOT strives to pay all mystery shoppers in a timely fashion. Typically, reimbursements are issued within two weeks of receiving evidence of your mystery visit (receipt, etc.). All payments will be done via bank transfer or alipay.</p><br />
<p>9.	You will be reimbursed an amount to be agreed upon, on a per assignment basis. The agreed-upon amount is all-inclusive (i.e. travel, etc). Any special expenses that may be reimbursed will be clearly indicated prior to the shop (i.e. entry to certain venues). SPOT has a right to withhold reimbursements for reports that are late, incomplete, inaccurate, or if the guidelines are not followed. SPOT will also withhold reimbursements should any inappropriate behavior occurs during the mystery shopping visit, confidentiality agreements were breached, or if there was a failure to comply with the Terms and Conditions as listed in this document.</p><br />
<p>10.	Any questions or uncertainties that you may have about an assignment must be brought up at least 72 hours before the assignment is due. In fairness, you will always be given a chance to remedy any problems with your reports, to avoid the abovementioned penalty.</p><br />
<p>11.	You must never identify yourself as a mystery shopper to any client, or to any employee of any client, whether you are on-duty or off-duty of mystery shopping assignments.</p><br />
<p>12.	Each of us acknowledges to the other that you have no authority to bind SPOT in any manner. This implies that you cannot open a bank account in our name, sign one of our checks, and enter into a contract on behalf of SPOT.</p><br />
<p>13.	Both you and SPOT hereby acknowledge that if a dispute arises, the Chinese version of the Terms and Conditions will prevail.

<?php }?>
     </div>
</div>
<?php include_once("footer.html")?>
