<?php include_once("header.html")?>
<div id="wrap">  <br />
  	<div class="tabsA">
    	<div class="left">
        	<div class="right">常见问题</div>
    	</div>
    </div>
  <div class="regInfo">
    <p>&nbsp;</p>

    <p class="helpTitle">成功完成神秘顾客“任务”步骤</p>


    <p></p>
    <p>&nbsp;</p>
    <p class="helpTitle">1. 加入“神秘顾客”</p>
    <p><br />
     A. 登入“神秘顾客专区”;<br />
     B. 首先点击“加入我们”填写信息资料;<br />
     C. 请在“全部任务”选择您想参的当前任务<br />
     D. 选定后请点击“我要报名”（您已成功加入我们）</p>
     <p>备注：“神秘顾客”不能同时选择三个以上任务申请，申请成功后必须按顺序完成不能同时进行（如果你申请多个任务但不能在规定计划内完成必须提前48小时与我们联系）</p>
    <p>&nbsp;</p>
    <p class="helpTitle">2. “任务”过程</p>

    <p><br />
    A. 你的信息经过我们的审核通过后，在“我的任务”页面中会出现您的当前任务<br />
B. 点击您的任务，您必需浏览“要求”“说明”“预览问卷”填写“测试”<br />
C. 当你的测试成功后，您已成功开始此次任务<br />
D. 您需在“我的资料”填写“付款方式”<br />
F. 您可以进行任务调查<br />
G. 您的任务调查完成后须填写“填写问卷”<br />
H. “填写问卷”提交后，您需等待通知。（我们需审批您的“填写问卷”）<br />
I. 收到“发票通知”说明你的问卷已合格<br />
 </p>

    <p>&nbsp;</p>
    <p class="helpTitle">3. “任务费用"需知 </p>
    <p><br />
      A. 您必需按照此任务规定时间内进行任务调查，需保留当日用餐发票<br />
B. 收到“发票通知”后，您需把用餐发票快递到我们公司。<br />
C. 我们需核对发票信息，如无误我们会在收到发票三天内根据您选择的付款方式给您相应的费用<br />
</p>
<p><br />备注:我们会您的用餐发票等信息进行核对（如：用餐发票日期是否与此任务规定日期时间相符，不相符时您的餐券费用本公司将不给予此次的任务费用）
 </p>
    <p>&nbsp;</p>
    <p class="helpTitle">4. 其它说明</p>
    <p><br />

A. “收件箱”    —— 我们与您紧密联系任务平台<br />
B. “历史任务” —— 你之前任务概括和收据状态<br />
C. “全部任务” —— 本公司近期任务动态<br />
D. “我的资料” —— 必须认真填写，此处关注您是否符合任务要求  、联系和付款无误等重要的信息平台<br />
</p>
<p>备注：你必须即时观察“收件箱”信息，您需根据此信息的任务进度过程和要求进行配合

    
    </p>
    <p>&nbsp;</p>
   
  </div>
</div>
<?php include_once("footer.html")?>
