
<?php include_once("header.html")?>
<script src="<?php echo $www_site_url?>/public/js/AC_RunActiveContent.js" type="text/javascript"></script>

<div id="wrap">
	<div class="bigpic">
    	<div>
<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','950','height','245','src','public/images/spotshoppers','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','<?php echo $www_site_url?>/public/images/spotshoppers' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="950" height="245">
        <param name="movie" value="<?php echo $www_site_url?>/public/images/spotshoppers.swf" />
            <param name="quality" value="high" />
            <embed src="<?php echo $www_site_url?>/public/images/spotshoppers.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="950" height="245"></embed>
  	    </object>
    	</noscript>
        </div>
    </div>
    
    <div class="left" style="width:150px;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
          <tr>
            <td width="4" class="tl4px"></td>
            <td class="tableCenter"><div class="tableTitle">企业专区</div></td>
            <td width="4" class="tr4px"></td>
          </tr>
          <tr>
            <td style="border-left: 1px solid rgb(190, 190, 190);">&nbsp;</td>
            <td style="padding: 10px;"><li style="line-height: 23px;" class="shanghu"><a href="/client.php/index">SPOT的理念</a></li>
                <li style="line-height: 23px;" class="shanghu"><a href="/client.php/index/login">企业登录</a></li></td>
            <td style="border-right: 1px solid rgb(190, 190, 190);">&nbsp;</td>
          </tr>
          <tr>
            <td class="bl4px"></td>
            <td class="bcenter"></td>
            <td class="br4px"></td>
          </tr>
        </tbody>
      </table>
    </div>
<script>
function changeTab(s){
	
	if(s=='who'){
		$('what_li').className = "";
		$('what').style.display = "none";		
		$('why_li').className = "";
		$('why').style.display = "none";
		$('how_li').className = "";
		$('how').style.display = "none";
		$('who_li').className = "on";
		$('who').style.display = "block";
	}	
	if(s=='what'){
			
		$('why_li').className = "";
		$('why').style.display = "none";
		$('who_li').className = "";
		$('who').style.display = "none";
		$('how_li').className = "";
		$('how').style.display = "none";
		$('what_li').className = "on";
		$('what').style.display = "block";	
	}	
	if(s=='why'){
		$('what_li').className = "";
		$('what').style.display = "none";		
		$('how_li').className = "";
		$('how').style.display = "none";
		$('who_li').className = "";
		$('who').style.display = "none";
		$('why_li').className = "on";
		$('why').style.display = "block";
	}
	if(s=='how'){
		$('what_li').className = "";
		$('what').style.display = "none";		
		$('why_li').className = "";
		$('why').style.display = "none";
		$('who_li').className = "";
		$('who').style.display = "none";
		$('how_li').className = "on";
		$('how').style.display = "block";
	}
}
</script>
        <div style="padding: 0pt 10px; width: 586px;" class="left">
<div id="tabsD"> 
  <ul> 
    <li id="who_li" class="on"><a title="神秘指什么" href="#" onclick="changeTab('who');return false;"><span>什么是神秘顾客</span></a></li> 
    <li id="what_li"><a title="神秘购物者做什么" href="#" onclick="changeTab('what');return false;"><span>神秘顾客做什么</span></a></li> 
    <li id="why_li"><a title="神秘购物者能得到什么" href="#" onclick="changeTab('why');return false;"><span>神秘顾客得到什么</span></a></li> 
    <li id="how_li"><a title="神秘购物者能得到什么" href="#" onclick="changeTab('how');return false;"><span>怎样成为神秘顾客 </span></a></li> 
  </ul> 
</div> 
<div id="who" class="clear indexabout">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;企业在没有管理者在场的时候总是很难弄明白自己的员工在做些什么。派一个部门管理人员也并不能每次都奏效，因为员工知道有人在看着。最好的信息来自于被派出作评估的匿名消费者，因为没有人知道他们是谁。这就是为什么他们被称为神秘购物者！</p>
</div>
<div id="what" class="clear indexabout" style="display:none">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个神秘购物者是对一个品牌消费体验的审核者和评论者。不但要对品牌公司的要求和培训执行情况进行审核, 也以消费者的观点客观地提出评估。合格的神秘购物者必须是一个品牌的真实消费者或者潜在的消费者。 </p>
</div>
<div id="why" class="clear indexabout" style="display:none">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简单地说，神秘购物者因为作为一个消费者获得报酬。每个购物者获得多少报酬取决于任务本身的難度。购物者在完成每项任务后按规定的数额进行报销。
作为一个神秘用餐者，你和你的朋友可以免费吃一顿！餐馆可不想让你一个人吃，只要你和你的神秘餐友不要超过预算；你的这顿饭就是免费的！但是，别忘了要收据，因为我们的客户需要证据证明你曾经到过那里。
</p>
</div>
<div id="how" class="clear indexabout" style="display:none">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击“加入我们”按钮进入后，请填写你的个人信息资料并提交申请，在得到我们任务管理部门的通知后，你就可以选一个适合你的任务开始申请。
申请时，你将收到一份任务说明及问卷调查表，在任务之前我们会对你进行一次测试。这份简短的测试是为了确保你知道你将为评估做些什么，在你开始做这份测试题之前请确认你已经通读了那份任务说明及问卷调查表。一旦获得资格，你应在规定的时限内完成任务并且填写好报告。我们将察看你的报告并且安排接送你的收据。报销款将在我们批准你的报告后存入你的帐户。
</p>
</div>

</div>
        <div class="right" style="width:190px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="4" class="tl4px"></td>
              <td class="tableCenter"><div class="tableTitle">神秘顾客专区</div></td>
              <td width="4" class="tr4px"></td>
            </tr>
            <tr>
              <td style="border-left:#BEBEBE solid 1px;">&nbsp;</td>
              <td style="padding:10px;"><div id="msg"></div>
                  <form name="loginform" id="loginform" method="post" onsubmit="return checkOnSubmit('loginform', rules);" >
                    <input type="hidden" name="action" value="passport" />
                    <input type="hidden" name="op" value="dologin" />
                    <input type="hidden" name="forward" value="" />
                    <input type="hidden" name="s" id="s" value="" />
                    <div class="hangju">邮箱帐号：</div>
                    <div class="hangju">
                      <div id="errorsDiv_user"></div>
                      <input name="user" type="text" class="logininput" id="textfield" />
                    </div>
                    <div class="hangju">登录密码：</div>
                    <div class="hangju">
                      <div id="errorsDiv_password"></div>
                      <input name="password" type="password" class="logininput" onclick="this.value='';" />
                    </div>
                    <div class="hangju">
                      <input name="imageField" type="submit" id="imageField" value="登录" class="loginBtn" />
                    <a href="<?php echo $www_site_url?>/index.php/passport/forget">忘记密码？ </a></div>
                  </form></td>
              <td style="border-right:#BEBEBE solid 1px;">&nbsp;</td>
            </tr>
            <tr>
              <td class="bl4px"></td>
              <td class="bcenter"></td>
              <td class="br4px"></td>
            </tr>
          </table>
        </div>

</div>


<SCRIPT>
//only for test purposes
var _key = "<?php echo $_XppassSignKey?>";
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
    	document.getElementById(formName).password.value = hex_md5(document.getElementById(formName).password.value);
    	document.getElementById(formName).s.value = hex_hmac_md5(_key,document.getElementById(formName).password.value);
    	
		var url = "<?php echo $www_site_url?>/index.php";
		var params = mini.form.serialize($(formName));
		mini.ajax.post(url, function(r){
			var r = eval('(' + r + ')');   
			if(r.s==200){
				window.location.replace(r.d);
			}
			if(r.s==400){
				if(r.m=='reload') window.location.reload();
				else $('msg').innerHTML = r.m;			
			}
		}, params);
    	
    	return false;
    } 
    return false;
}
function changeCode() {
	var num = 	new Date().getTime();
	var rand = Math.round(Math.random() * 10000);
	num = num + rand;
	document.getElementById("codeimg").src = "<?php echo $www_site_url?>/index.php/identifycode/generate/" + num;
	return false;
}
var rules=new Array();

rules[0]='user|required|<?php echo lang('helpmsg1')?>';
rules[1]='password|required|<?php echo lang('helpmsg2')?>';
<?php if($show_code){?>
rules[2]='code|required|<?php echo lang('coderule')?>';
<?php }?>


yav.addHelp('user', '');
yav.addHelp('password', '');
window.onload = function()
                {
                	yav.init('loginform', rules);
                          // Not coming here at all on first shot   
                }


</SCRIPT>
<?php include_once("footer.html")?>
