<?php include_once("header.html")?>
<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">
        	<div class="right">联系我们</div>
    	</div>
  </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p><img src="/public/images/map_cn.gif" alt="地图" width="950" height="328" /></p>
    <p>&nbsp;</p>
    <p style="font-size:14px;">上海市静安区愚园路168号环球世界大厦A座901A室<br />

      电话： +86（0）21 6248 8988<br />
      传真： +86（0）21 6248 9099<br />
      Email:  <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a><br />
      <br />
    投递简历，请发送邮件至    <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a><br />
    潜在客户或合作伙伴，请发送邮件至    <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a><br />

    咨询和疑问，请发送邮件至   <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a></p>
  </div>
</div>

<?php include_once("footer.html")?>
