
<?php include_once("header.html")?>
<script src="<?php echo $www_site_url?>/public/js/yav2.0/yav.js"></script>

<script src="<?php echo $www_site_url?>/public/js/yav2.0/yav-config-<?php echo $selected_lang?>.js"></script>


<SCRIPT>
//only for test purposes
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
       return true;
    } 
    return false;
}

var rules=new Array();

rules[0]='newpwd1|required|<?php echo lang('insertpwd')?>';
rules[1]='newpwd1|minlength|6|<?php echo lang('pwdrule')?>';
rules[2]='newpwd2|equal|$newpwd1|<?php echo lang('pwdnotsame')?>';


yav.addHelp('new1', '<?php echo lang('insertyouranswer')?>');


window.onload = yav.init('resetpwdform', rules);

</SCRIPT>

<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">
        	<div class="right">用户登录</div>
    </div>
      <div class="des">还不是注册用户？请点击<a href="#">这里</a>免费注册！</div>
  </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<FORM name="resetpwdform" method="POST" action="<?php echo $www_site_url?>/index.php" onsubmit="return checkOnSubmit('resetpwdform', rules);" >
<input type="hidden" name="action" value="passport">
<input type="hidden" name="op" value="resetpwd">
<input type="hidden" name="code" value="<?php echo $code?>">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">

<TR><TD width="40%" class="text"><?php echo lang('newpwd')?>:</TD><TD width="60%"><INPUT class="input" type="password" name=newpwd1 />&nbsp;&nbsp;<span id=errorsDiv_newpwd1></span></TD></TR>
<TR><TD class="text"><?php echo lang('newpwd2')?>:</TD><TD><INPUT class="input" type="password" name=newpwd2 />&nbsp;&nbsp;<span id=errorsDiv_newpwd2></span></TD></TR>


<TR><TD><br></TD>
  <TD><br />
      <input name="button" type="submit" class="btn" id="button" value="<?php echo lang('submit')?>" /></TD>
  <TD></TD></TR>
</TABLE>
</form>
<p>&nbsp;</p>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
