
<?php include_once("header.html")?>


<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">

        	<div class="right"><?php echo lang("registration");?></div>
        </div>
      <div class="des"><?php echo lang("already_signup");?> <a href="<?php echo $www_site_url?>/index.php/passport/login"><?php echo lang("login");?>!</a></div>
  </div>
  <div class="<?php echo lang("regstepclass");?> regStep3 clear"></div>
  <div class="regInfo">
<p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p align="center"><?php echo lang("congratulation");?></p>
    <p align="center">&nbsp;</p>
    <p align="center"><a href="/index.php/home"><?php echo lang("redireting");?>···</a></p>
    <script> setTimeout("window.location.replace(\"/index.php/home\")",5000);</script>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

<p>&nbsp;</p>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
