RewriteEngine On
RewriteBase /
RewriteRule ^index.html$ index.php
RewriteRule ^(.*)(index|admin|client).(php|html)/([a-z0-9]+)$ $1/$2.php?action=$4&view=defaults
RewriteRule ^(.*)(index|admin|client).(php|html)/([a-z0-9]+)/([a-z0-9]+)$ $1/$2.php?action=$4&view=$5
RewriteRule ^(.*)(index|admin|client).(php|html)/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9\-_]+)$ $1/$2.php?action=$4&view=$5&$5=$6
RewriteRule ^(.*)(index|admin|client).(php|html)/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9\-_]+)/([a-zA-Z0-9\-@\.]+)$ $1/$2.php?action=$4&view=$5&$5=$6&$6=$7
