<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xppass Administrator's Control Panel</title>
<LINK href="<?php echo $www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>
<script src="<?php echo $www_site_url?>/public/js/common.js" type="text/javascript"></script>
<script src="<?php echo $www_site_url?>/public/js/ajax.js" type="text/javascript"></script>
<script src="<?php echo $www_site_url?>/public/js/calendar.js" type="text/javascript"></script>

<script>
function checkOnSubmit(formName) {
  	
	var url = "<?php echo $www_site_url?>/admin.php";
	var params = mini.form.serialize($(formName));
	
	mini.ajax.post(url, function(r){

		var r = eval('(' + r + ')');   

		if(r.s==200){
			window.location.href = r.d;
		}
		if(r.s==400){
			$('msg').innerHTML = r.m;			
		}
	}, params);
	
	return false;
       
}
function getStore(c_id){
	var url = "<?php echo $www_site_url?>/admin.php?action=corporation&view=ajaxstore&c_id="+c_id;
	
	mini.ajax.get(url, function(r){

		var r = eval('(' + r + ')');   

		if(r.s==200){
			var obj = eval('(' + r.d + ')');   
			var selobj = $('store_container');
			for(var i in obj){
				//if(i==0) selobj.options[0] = new Option(obj[i].cs_name, obj[i].cs_id) //replace 1st option with a new one
				selobj.options[i]=new Option(obj[i].cs_abbr+' '+obj[i].cs_name, obj[i].cs_id) //add a new option to the end of SELECT
			}
			
		}
		if(r.s==400){
			$('msg').innerHTML = r.m;			
		}
	});
	
	return false;
}
</script>
</head>
<body><div id="append"></div>
<div id="msg" style="color:red;text-align:center"></div>
	<div class="container">
	
		<div class="hastabmenu">
				<ul class="tabmenu">
					<li id="addassignmentbtn" class="tabcurrent"><a href="#"><?php echo lang('add_assignment')?></a></li>	
				</ul>
				<div id="addassignmentdiv" class="tabcontentcur" style="display:;">
					<form id="addassignmentform" name="addassignmentform" action="<?php echo $www_site_url?>/admin.php" method="post" onsubmit="return checkOnSubmit('addassignmentform');" >
					<input type="hidden" name="action" value="assignment">
					<input type="hidden" name="op" value="save">
				
					<table width="100%">
						<tr>
							<td width="10%"><?php echo lang('a_title')?>:</td>
							<td><input type="text" name="a_title" class="textfield" /> *</td>
						</tr>					
							
													
						<tr>
							<td><?php echo lang('a_date')?>:</td>
							<td><input type="text" name="a_date" onclick="showcalendar();" value="" class="textfield" /></td>
						</tr>					
						<tr>
							<td><?php echo lang('cs_corpration')?>:</td>
							<td><select name="c_id" onchange="getStore(this.options[this.selectedIndex].value);">
							<option value="">--</option>
							<?php foreach ($corps as $v){?>
							<option value="<?php echo $v['c_id'];?>"><?php echo $v['c_initial']." ". $v['c_title'];?></option>
							<?php } ?>
							</select></td>
							</tr>	
						<tr>
							<td><?php echo lang('cs_store')?>:</td>
							<td><select id="store_container" name="cs_id">
							<option value="">--</option>
							</select></td>
							</tr>				
						<tr>
							<td><?php echo lang('a_desc')?>:</td>
							<td><textarea type="text" name="a_desc" rows="10" style="width:500px" class="textfield"/></textarea></td>
							</tr>					
						<tr>
						
							<td colspan="2"><input type="submit" value="<?php echo lang('submit')?>" class="button"/></td>
						</tr>
					</table>
					</form>
	
				</div>
		</div>
</div>

</body>
</html>