<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xppass Administrator's Control Panel</title>
<LINK href="<?php echo $www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>
<script src="<?php echo $www_site_url?>/public/js/common.js" type="text/javascript"></script>
<script src="<?php echo $www_site_url?>/public/js/ajax.js" type="text/javascript"></script>
<script src="<?php echo $www_site_url?>/public/js/calendar.js" type="text/javascript"></script>

<script>
function checkOnSubmit(formName) {
  	
	var url = "<?php echo $www_site_url?>/admin.php";
	var params = mini.form.serialize($(formName));

	mini.ajax.post(url, function(r){

		var r = eval('(' + r + ')');   

		if(r.s==200){
			alert(r.m);
			window.location.href = r.d;
		}
		if(r.s==400){
			alert(r.m);
			$('msg').innerHTML = r.m;			
		}
	}, params);
	
	return false;
       
}
</script>
</head>
<body><div id="append"></div>
<div id="msg" style="color:red;text-align:center"></div>
	<div class="container">
	
		<div class="hastabmenu">
				<ul class="tabmenu">
					<li id="addassignmentbtn" class="tabcurrent"><a href="#"><?php echo lang('add_assignment')?></a></li>	
				</ul>
				<div id="addassignmentdiv" class="tabcontentcur" style="display:;">
					<form id="addassignmentform" name="addassignmentform" action="<?php echo $www_site_url?>/admin.php" method="post" onsubmit="return checkOnSubmit('addassignmentform');" >
					<input type="hidden" name="action" value="assignment">
					<input type="hidden" name="op" value="save">
				
					<table width="100%">
						<tr>
							<td width="10%"><?php echo lang('a_title')?>:</td>
							<td><input type="text" name="a_title" class="textfield" style="width:500px"/> *<input type="button" value="Split" onclick="document.addassignmentform.a_title.value+='&lt;!--!--&gt;';"></td>
						</tr>					
							
													
						<tr>
							<td><?php echo lang('a_sdate')?>:</td>
							<td><input type="text" name="a_sdate" onclick="showcalendar();" value="" class="textfield" /></td>
						</tr>								
						<tr>
							<td><?php echo lang('a_edate')?>:</td>
							<td><input type="text" name="a_edate" onclick="showcalendar();" value="" class="textfield" /></td>
						</tr>					
						<tr>
							<td><?php echo lang('cs_corpration')?>:</td>
							<td><select name="c_id" onchange="getStore(this.options[this.selectedIndex].value);">
							<option value="">--</option>
							<?php foreach ($corps as $v){?>
							<option value="<?php echo $v['c_id'];?>"><?php echo $v['c_initial']." ". $v['c_title'];?></option>
							<?php } ?>
							</select></td>
						</tr>	
						<tr>
							<td><?php echo lang('cs_name')?>:</td>
							<td><select id="store_container" name="cs_id">
							<option value="">--</option>
							</select></td>
						</tr>
						<tr>
							<td><?php echo lang('report')?>:</td>
							<td><select id="report" name="re_id">
							<option value="">--</option>
							<?php foreach ($reports as $v){?>
							<option value="<?php echo $v['re_id'];?>"><?php echo $v['re_title'];?></option>
							<?php } ?>
							</select></td>
						</tr>	
						<tr>
							<td><?php echo lang('a_hasphoto')?>:</td>
							<td><input type="checkbox" name="a_hasphoto" value="1" /></td>
						</tr>				
						<tr>
							<td><?php echo lang('a_hasaudio')?>:</td>
							<td><input type="checkbox" name="a_hasaudio" value="1" /></td>
						</tr>				
						<tr>
							<td><?php echo lang('a_desc')?>:</td>
							<td><textarea type="text" name="a_desc" rows="10" style="width:500px" class="textfield"/></textarea><input type="button" value="Split" onclick="document.addassignmentform.a_desc.value+='&lt;!--!--&gt;';"></td>
						</tr>							
						<tr>
							<td><?php echo lang('a_demand')?>:</td>
							<td><textarea type="text" name="a_demand" rows="10" style="width:500px" class="textfield"/></textarea><input type="button" value="Split" onclick="document.addassignmentform.a_demand.value+='&lt;!--!--&gt;';"></td>
						</tr>	
						<tr>
							<td><?php echo lang('istest')?>:</td>
							<td><input type="checkbox" name="a_istest" value="1" checked/></td>
						</tr>						
						<tr>
							<td><?php echo lang('a_quiz')?>:</td>
							<td>
							格式说明,每一行输入一个测试题目。格式为 title:问题标题|A:答案|B:答案|C:答案|D:答案|answer:D
							<textarea type="text" name="a_quiz" rows="10" style="width:900px" class="textfield"/>
title:去肯德基一定要点的是什么？|A:薯条|B:鸡翅|C:汉堡|D:可乐|answer:B
title:用餐结束之后不要忘记什么？|A:买单|B:刷卡|C:要发票|D:贵重物品|answer:C
</textarea><input type="button" value="Split" onclick="document.addassignmentform.a_quiz.value+='&lt;!--!--&gt;';"></td>
						</tr>					
						<tr>
			
							<td colspan="2"><input type="submit" value="<?php echo lang('submit')?>" class="button"/ >  <input type="button" value="<?php echo lang('goback')?>" onclick="history.go(-1);" class="button" /></td>
						</tr>
					</table>
					</form>
	
				</div>
		</div>
</div>

</body>
</html>