<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">
<?php include_once("home_assignmenttop.html")?>

<br />
    <br />
   <div>
   <?php if(is_array($assignmentinfo['a_desc'])){
   	?>

<table cellspacing="1"  class="clear missionReport" width="100%">
<?php foreach ($assignmentinfo['a_desc'] as $k=>$v){?>
<tr>
<td><?php echo $v?></td>
</tr>
<?php }?>
</table>
<?php }?>

</div>
  </div>
</div>

<?php include_once("footer.html")?>