<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">
<?php include_once("home_assignmenttop.html")?>

	<br />
    <br />
    <?php if($is_view){
    	?>
  <div style="margin:10px 0 0 20px;"><?php echo nl2br(stripslashes($assignmentinfo['a_demand']));?></div>
   <?php
    }else{?>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>请预先报名，被选中后才能参加测试！</p>
  <?php }?>
  </div>
</div>

<?php include_once("footer.html")?>
