<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="table2TitleBg">
            <div class="table2TitleBg2">
    		  	<div class="table2Title"><div class="table2TitleLeft"><span><?php echo lang("past_assignment")?></span></div></div>
            </div>
           </div></td>
        </tr>

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="table2LeftBorder"></td>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1" class="historyMission">
                <tr>
                  <td class="title"><?php echo lang("finished_date")?></td>
                  <td class="title"><?php echo lang("brands")?></td>

                  <td class="title"><?php echo lang("stores")?></td>
                  <td class="title"><?php echo lang("assignment")?></td>
                  <td class="title"><?php echo lang("income")?>（<?php echo lang("income_unit")?>）</td>
                </tr>
                <?php
              if(isset($myassignment)&& is_array($myassignment)){
							foreach ($myassignment as $k=>$v){?>
                <tr>
                  <td><?php echo $v['a_fdate']?></td>
                  <td><?php echo splitx($v['c_title']);?></td>

                  <td><?php echo splitx($v['cs_name']);?></td>
                  <td><a href="/index.php/home/assignment/a_id/<?php echo $v['a_id']?>"><?php echo splitx($v['a_title']);?></a></td>
                  <td><?php echo $v['a_cost']?></td>
                </tr>
             <?php }}?>
              </table></td>
              <td class="table2RightBorder"></td>
            </tr>
            <tr>
              <td class="table2BottomLeft"></td>

              <td class="table2Bottom"></td>
              <td class="table2BottomRight"></td>
            </tr>
          </table></td>
        </tr>
      </table>
      </div>
</div>
</div>
<?php include_once("footer.html")?>