<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="table2TitleBg">
            <div class="table2TitleBg2">
    		  	<div class="table2Title"><div class="table2TitleLeft"><span><?php echo lang('announcement')?></span></div></div>
            </div>
           </div></td>
        </tr>

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="table2LeftBorder"></td>
              <td>
             <h2 align="center"><?php echo $data['an_title']?> </h2>
             <br />
            <div align="center" style="margin:5px;"><?php echo lang('publish_date')?>： <?php echo $data['an_date']?></div>
             <hr size="1" style="color:#ccc">
             <br />
              
              <div ><?php echo nl2br(htmlspecialchars(stripslashes($data['an_content']),ENT_QUOTES))?></div>
              </td>
              <td class="table2RightBorder"></td>
            </tr>
            <tr>
              <td class="table2BottomLeft"></td>
              <td class="table2Bottom"></td>

              <td class="table2BottomRight"></td>
            </tr>
          </table></td>
        </tr>
      </table><br />
  </div>

</div>

<?php include_once("footer.html")?>
