<?php include_once("header.html")?>

<div id="wrap">  <br />
<?php include_once("home_left.html")?>
    <div class="admincontent">
<?php include_once("home_assignmenttop.html")?>

	<br />
    <br />
    <?php if($is_view){
    	?>
  <div>
  <?php if(is_array($assignmentinfo['a_demand'])){
   	?>

<table cellspacing="1"  class="clear missionReport" width="100%">
<?php foreach ($assignmentinfo['a_demand'] as $k=>$v){?>
<tr>
<td><?php echo $v?></td>
</tr>
<?php }?>
</table>
<?php }?>
  
  </div>
   <?php
    }else{?>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
 <div align="center"><?php echo lang("apply_first")?></div>
  <?php }?>
  </div>
</div>

<?php include_once("footer.html")?>
