<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel='stylesheet' type='text/css' href='<?php echo $www_site_url?>/public/js/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='<?php echo $www_site_url?>/public/js/fullcalendar/jquery/jquery.js'></script>
<script type='text/javascript' src='<?php echo $www_site_url?>/public/js/fullcalendar/jquery/ui.core.js'></script>
<script type='text/javascript' src='<?php echo $www_site_url?>/public/js/fullcalendar/jquery/ui.draggable.js'></script>
<script type='text/javascript' src='<?php echo $www_site_url?>/public/js/fullcalendar/jquery/ui.resizable.js'></script>
<script type='text/javascript' src='<?php echo $www_site_url?>/public/js/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript'>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		$('#calendar').fullCalendar({
			editable: false,
			events: "/index.php/home/calendarjson",
			
			eventDrop: function(event, delta) {
				alert(event.title + ' was moved ' + delta + ' days\n' +
					'(should probably update your database)');
			},
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'assignment');
				return false;
			},
			loading: function(bool) {
				if (bool) $('#loading').show();
				else $('#loading').hide();
			}
		});
		
	});

</script>
<style type='text/css'>

	body {
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}
	#loading {
		position: absolute;
		top: 20px;
		left: 200px;
		}

	#calendar {
		width: 700px;
		margin: 0 auto;
	}

</style>
</head>
<body>
<div id='loading' style='display:none;'>loading...</div>
<div id='calendar'></div>
</body>
</html>
