<?php include_once("header.html")?>
<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">
        	<div class="right"><?php echo lang('contactus');?></div>
    	</div>
  </div>
  <div class="regInfo">
    <p><img src="/public/images/<?php echo lang('map')?>.jpg" alt="地图" width="950" height="328" /><br />
      <br />
      <br />
    </p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%"><span style="font-size:14px;">上海市虹梅路3329弄4-102室<br />
          <br />
电话： +86（0）21 6248 8988<br />
传真： +86（0）21 6248 9099<br />
Email: <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a><br />
<br />
投递简历：<a href="mailto:career@spotshoppers.com">career@spotshoppers.com</a><br />
合作客户：<a href="mailto:sales@spotshoppers.com">sales@spotshoppers.com</a><br />
咨询/疑问：<a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a></span></td>
        <td width="50%"><span style="font-size:14px;">3329 Hong Mei Road,Blad.4,Room #102 Shanghai, China<br />
          <br />
TEL： +86（0）21 6248 8988<br />
FAX： +86（0）21 6248 9099<br />
EMAIL: <a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a><br />
<br />
Career Opportunities：<a href="mailto:career@spotshoppers.com">career@spotshoppers.com</a><br />
 Interested Clients or Partners：<a href="mailto:sales@spotshoppers.com">sales@spotshoppers.com</a><br />
General inquiries：<a href="mailto:info@spotshoppers.com">info@spotshoppers.com</a></span></td>
      </tr>
    </table>
    </div>
</div>

<?php include_once("footer.html")?>
