<?php include_once("header.html")?>
<div id="wrap">  <br />
  	<div class="tabsA">
    	<div class="left">
        	<div class="right">常见问题</div>
    	</div>
    </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="helpTitle">什么是神秘购物？</p>
    <p>&nbsp;</p>

    <p> 神秘购物是通过匿名购物者的方式对一个品牌包括客户服务、业务、员工诚信、销售、产品质量等方面的核心标准进行评估的方法。每当出现与这些标准相背离的情况时，就表明有不一致的情况发生。通过神秘购物者审核这些标准的执行情况可以得到最真实的资料作为企业管理者的重要参考 。</p>
    <p>&nbsp;</p>
    <p class="helpTitle">第一条 时代互联 服务简介</p>
    <p><br />
      时代互联 向其会员用户提供包括域名注册、网站托管服务在内的互联网技术服务和网络服务时代互联所提供的相关服务说明详见相关网站的产品及服务介绍 。 </p>
    <p>&nbsp;</p>
    <p class="helpTitle">第二条 用户身份保证</p>

    <p><br />
      2-1 用户承诺并保证自己是具有完全民事行为能力和完全民事权利能力的自然人、法人、实体和组织。用户在此保证所填写的用户信息是真实、准确、完整、及时的，并且没有任何引人误解或者虚假的陈述，且保证时代互联可以通过用户所填写的联系方式与用户取得联系。 <br />
      2-2 用户应根据时代互联 对于相关服务的要求及时提供相应的身份证明等资料，否则时代互联有权拒绝向该会员或用户提供相关服务。 <br />
      2-3 用户承诺将及时更新其用户信息以维持该等信息的有效性。 <br />
      2-4 如果用户提供的资料或信息包含有不正确、不真实的信息，时代互联 保留取消用户会员资格并随时结束为该用户提供服务的权利。 <br />
      2-5 以代理人身份代理其他自然人或者单位进行注册用户必须向时代互联 提供代理人和被代理人的详细资料和信息及授权书面文件，未向时代互联 提供上述资料信息及文件的，时代互联 将视注册者为会员。 </p>

    <p>&nbsp;</p>
    <p class="helpTitle">第三条 邮件通知 </p>
    <p><br />
      用户充分理解，时代互联 将通过电子邮件的方式与注册会员保持联络及沟通，用户在此同意时代互联 通过电子邮件方式向其发送包括会员信息、时代互联 商品及服务信息在内的相关商业 及非商业联络信息。 </p>
    <p>&nbsp;</p>
    <p class="helpTitle">第四条 会员身份确认</p>
    <p><br />

      4-1 用户注册成功后将得到一个用户名和密码，用户凭用户名和密码享受时代互联 向其会员用户提供的商品和服务。 <br />
      4-2 用户将对用户名和密码安全负全部责任，并且用户对以其用户名进行的所有活动和事件负全责。用户有权根据时代互联 规定的程序修改密码。 <br />
      4-3 非经时代互联 书面同意，用户名和密码不得擅自转让或者授权他人使用，否则用户应承担由此造成的一切后果。 <br />
      4-4 用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告时代互联 。 </p>
    <p>&nbsp;</p>
    <p class="helpTitle">第五条 服务条款的修改和服务体系修订</p>

    <p><br />
      时代互联 有权在必要时修改服务条款，时代互联服务条款一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的网络服务。如果用户继续享用时代互联网络服务，则视为接受服务条款的变动。时代互联保留随时修改其服务体系和价格而不需通知用户的权利，时代互联修改其服务和价格体系之前用户就具体服务与时代互联达成协议并已按照约定交纳费用的，时代互联将按照已达成的协议执行至已交纳费用的服务期期满。</p>
  </div>
</div>
<?php include_once("footer.html")?>
