
<?php include_once("header.html")?>


<SCRIPT>
//only for test purposes
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
       return true;
    } 
    return false;
}

var rules=new Array();

rules[0]='user|required|<?php echo lang('helpmsg1')?>';

yav.addHelp('user', '<?php echo lang('helpmsg1')?>');
window.onload = yav.init('forgetpwdform', rules);
</SCRIPT>
<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">
        	<div class="right">神秘顾客</div>
    </div>
      <div class="des">还不是注册用户？请点击<a href="<?php echo $www_site_url?>/index.php/passport/reg">这里</a>加入我们！</div>
  </div>
  <div class="regInfo">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<FORM name="forgetpwdform" method="POST" action="<?php echo $www_site_url?>/index.php" onsubmit="return checkOnSubmit('forgetpwdform', rules);" >
<input type="hidden" name="action" value="passport">
<input type="hidden" name="op" value="emailpwd">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">

<TR><TD width="40%" class="text"><?php echo lang('user')?>:</TD><TD width="60%"><INPUT class="input" type=text name="user" />&nbsp;&nbsp;<span id="errorsDiv_user"></span></TD></TR>

<tr>
        <td class="text">&nbsp;</td>
        <td> <br /><input name="button" type="submit" class="btn" id="button" value="找回密码" />       </td>
      </tr>

</TABLE>
</form>
<p>&nbsp;</p>
  </div>
</div>
</div>
<?php include_once("footer.html")?>