<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $web_title?></title>
<LINK href="<?php echo $www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>
<script src="<?php echo $www_site_url?>/public/js/yav2.0/yav.js"></script>

<script src="<?php echo $www_site_url?>/public/js/yav2.0/yav-config-<?php echo $selected_lang?>.js"></script>


<SCRIPT>
//only for test purposes
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
       return true;
    } 
    return false;
}

var rules=new Array();

rules[0]='user|required|<?php echo lang('helpmsg1')?>';

yav.addHelp('user', '<?php echo lang('helpmsg1')?>');

</SCRIPT>

</head>
<body onload="yav.init('forgetpwdform', rules);">
<?php include_once("header.html")?>
<FORM name="forgetpwdform" method="POST" action="<?php echo $www_site_url?>/index.php" onsubmit="return checkOnSubmit('forgetpwdform', rules);" >
<input type="hidden" name="action" value="passport">
<input type="hidden" name="op" value="emailpwd">
<TABLE valign=top>

<TR><TD><?php echo lang('user')?>:</TD><TD><INPUT class="textfield" type=text name="user" />&nbsp;&nbsp;<span id="errorsDiv_user"></span></TD></TR>


<TR><TD colspan="2"><INPUT class="button" type=submit value="<?php echo lang('submit')?>" /> 
<INPUT class="button" type="button" value="<?php echo lang('back')?>" onclick="history.go(-1)"/></TD><TD></TD></TR>
</TABLE>
</form>
<?php include_once("footer.html")?>
</body>
</html>