
<?php include_once("header.html")?>


<div id="wrap">  <br />
  <div class="tabsA">
    	<div class="left">

        	<div class="right">新用户注册</div>
        </div>
      <div class="des">已经是注册用户？请点击<a href="/index.php/passport/login">这里</a>登录！</div>
  </div>
  <div class="regStep regStep3 clear"></div>
  <div class="regInfo">
<p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p align="center">恭喜，您已注册成功！</p>
    <p align="center">&nbsp;</p>
    <p align="center"><a href="#">5秒钟后将自动跳转到用户控制面板，如果浏览器没有反应，请点击这里进入···</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

<p>&nbsp;</p>
  </div>
</div>
</div>
<?php include_once("footer.html")?>
