@charset "utf-8";

* {
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
	font-size:12px;
}

.indexbody {
	background:#FFF url(../images/bg_01.gif) repeat-x;
}
.contentbody {
	background:#FFF url(../images/bg_02.gif) repeat-x;
}

li {
	list-style:none;
}


#hearder, #wrap, #footer {
	clear:both;
	width: 950px;
	margin:0 auto;
}

#logo {
	float:left;
	width: 136px;
}

#top {
	float:right;
	width:814px;
}
#language {
	float:left;
	width: 50px;
	padding:22px 0 0 0;
	margin:0 0 0 20px;
}
/*右上角登录*/
#login {
	float:right;
	width: 113px;
	height:21px;
	background-color:#C00;
	color:#FFF;
	text-align:center;
	padding:55px 0 3px 0;
}
#login a {
	color:#FFF;
	text-decoration:none;
}

#wrap {
	padding:12px 0 0 0;
}

/*登录成功后顶部的欢迎信息*/
#welcome {
	float:right;
	text-align:right;
	color:#999;
	margin:32px 10px 0 0;
	line-height:20px;
}
.clear {
	clear:both;
}

.left {
	float:left;
}
.right {
	float:right;
}

.adminmenupanel {
	width:170px;
	float:left;
	clear:both;
}

.adminmenupanel .panel {
	border:#BEBEBE solid 1px;
	margin:0 0 10px 0;
}

.adminmenupanel .panel .title {
	background:#E7E7E7 url(../images/bg_panel.gif) repeat-x;
	font-size:14px;
	line-height:28px;
	height:28px;
	padding:0 5px;
	border-bottom:#BEBEBE solid 1px;
}

.adminmenupanel .content {
	padding:10px 0;
}

.adminmenupanel .content li{
		background:url(../images/dot.gif) no-repeat 10px 9px;
		padding:5px 20px;
}
.adminmenupanel .content .selected{
	background-color:#D7D7D7;
}
.adminmenupanel .content a {
	color:#000;
	text-decoration:none;
}

.admincontent {
	float:right;
	width:760px;
}

.announcement {
	color:#03C;
	background:url(../images/bg_gonggao.gif) repeat-x;
	height:39px;
	line-height:39px;
	padding:0 10px;
	font-size:14px;
}
.announcementmore {
	background:url(../images/bg_gonggao_more.gif) repeat-x;
	height:39px;
	line-height:39px;
	text-align:center;
}

.announcementmore a {
	color:#FFF;
	text-decoration:none;
}

/* 首页大FLASH */
.bigpic {
	margin-bottom:15px;
}

.tl4px {
	width:4px;
	background:url(../images/table_title_topleft.gif) no-repeat left;
	height:29px;
}
.tr4px {
	width:4px;
	background:url(../images/table_title_topright.gif) no-repeat right;
	height:29px;
}
.bl4px {
	width:4px;
	height:4px;
	background:url(../images/table_title_bottomleft.gif) no-repeat top;
}
.br4px {
	width:4px;
	background:url(../images/table_title_bottomright.gif) no-repeat top right;
	height:4px;
}
.bcenter {
	height: 4px;
	background:url(../images/table_title_bottomcenter.gif) repeat-x top;
}
.tableCenter {
	background:url(../images/table_title_topcenter.gif) repeat-x;
	height:29px;
}
.tableTitle {
	background:url(../images/icon_sanjiao.gif) no-repeat left center;
	font-size:14px;
	color:#666;
	height:29px;
	line-height:29px;
	margin:0 10px;
	padding-left: 15px;
}
.tableContent {
	clear:both;
	border-left:#666666 solid 1px;
	border-right:#666666 solid 1px;
}

.table2Title {
	background:url(../images/table2_title.gif) no-repeat;
	width:103px;
	height:36px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
}
.table2TitleBg {
	background:url(../images/table2_topbg.gif) repeat-x bottom;
}
.table2TitleBg2 {
	background:url(../images/table2_toprightborder.gif) no-repeat right bottom;
}

.table2LeftBorder {
	background:url(../images/table2_leftborder.gif) repeat-y;
	width:5px;
}
.table2RightBorder {
	background:url(../images/table2_rightborder.gif) repeat-y right;
	width:5px;
}
.table2BottomLeft {
	background:url(../images/table2_bottomleft.gif) no-repeat;
	width:15px;
	height:15px;
}
.table2BottomRight {
	background:url(../images/table2_bottomright.gif) no-repeat;
	width:15px;
	height:15px;
}
.table2Bottom {
	background:url(../images/table2_bottom.gif) repeat-x;
	height:15px;
}

.huodong {
	background:url(../images/icon_sanjiao.gif) no-repeat 5px 7px;
	padding:5px 0 5px 15px;
}
.hangju {
	margin:5px 0;
}

    #tabsD {
      float:left;
      width:520px;
      background:#FFF;
      font-size:14px;
      line-height:normal;
	  border-bottom:2px solid #C00;
      }
    #tabsD ul {
	  margin:0;
	  list-style:none;
      }
    #tabsD li {
      display:inline;
      margin:0;
      padding:0 2px 0 0;
      }
    #tabsD a {
      float:left;
      background:url("../images/tableft.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsD a span {
      float:left;
      display:block;
      background:url("../images/tabright.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsD a span {float:none;}
    /* End IE5-Mac hack */
    #tabsD a:hover span {
      color:#FFFFFF;
      }
    #tabsD a:hover {
      background-position:0% -29px;
      }
    #tabsD a:hover span {
      background-position:100% -29px;
      }


#copyright {
	clear:both;
	width: 950px;
	margin:20px auto;
	border-top:#bdbdbd solid 1px;
	padding:20px 0;
	text-align:center;
}
.indexabout {
	padding:10px 0;
	
}
.logininput {
	border:#999999 solid 1px;
	width:100%;
	
}