BODY,h3,div, ul, li {
	margin:0;padding:0;FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; FONT-SIZE:14px
}
em, cite, th{ font-style:normal; font-weight:normal; }

TEXTAREA.textfield, INPUT.textfield{border:1px solid #ccc; color:#777; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding:.25em .2em; 
width:200px; margin:0 0 .25em}
INPUT.button{border:1px outset #ccc; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding:.25em .2em; margin:0 0 .25em}
#header{background:#6c7a88;height:6.82em;min-width:75em;border-bottom:1px inset #ccc}
#footer{background:#fcfcfc url(images/header_bg.png) 0 100% repeat-x;height:4em;text-align:center;
BORDER-TOP: #ccc 1px solid; FONT-FAMILY: Helvetica;font-size:12px; PADDING-TOP: 10px; COLOR: #666}
#menu{height:30px;background:#dadada;margin-bottom:1.5em;line-height:30px;}
#menu ul{list-style:none;margin:0;}
#menu li{float:left;position:relative;margin:0}
#menu a{padding:.3em;margin-left:2em;color:black;text-decoration:none;}
#menu a:hover{text-decoration:none;background-color:#eee;}
#menu a.active{background-color:#eee;}
#language {float:right}
.inputError {
	BORDER-RIGHT: #FF8000 1px solid; BORDER-TOP: #FF8000 1px solid; MARGIN: 0px; BORDER-LEFT: #FF8000 1px solid; BORDER-BOTTOM: #FF8000 1px solid; COLOR: #FF8000; BACKGROUND-COLOR: #FFFFD7
}
.inputNormal {
	
}
.innerError {
    background-image: url(images/invalid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	BORDER-RIGHT: #FF8000 0px solid; BORDER-TOP: #FF8000 10x solid; MARGIN: 0px; BORDER-LEFT: #FF8000 0px solid; BORDER-BOTTOM: #FF8000 0px solid; COLOR: #FF8000
}
.innerHelp {
	background-image: url(images/valid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	BORDER-RIGHT: #008000 0px solid; BORDER-TOP: #008000 10x solid; MARGIN: 0px; BORDER-LEFT: #008000 0px solid; BORDER-BOTTOM: #008000 0px solid; COLOR: #008000
}
a{text-decoration:underline;color:black}

.datalist{ clear:both; width:100%; border-top:2px solid #ccc; border-bottom:2px solid #ccc; }
	.datalist th{ line-height:250%; text-align:left; background:url(bg_repx.gif) repeat-x 0 bottom; color:#666; font-size:12px; }
	.datalist td{ padding:5px 0; background:url(bg_repx.gif) repeat-x 0 bottom; }
	.currenttr td{ background:#F2F9FD url(bg_repx.gif) repeat-x 0 bottom; }
	.datalist a{ text-decoration:underline; }
		.datalist a:hover{ text-decoration:none; }
	.datalist .txt{ width:90%; overflow:hidden; }
	.datalist .txtnobd{ width:90%; border:1px solid #FFF; text-align:right; overflow:hidden; cursor:pointer;}
	.datalist .bigarea { width: 500px; height: 80px; }
.fixwidth{ width: 100%; }
.mainbox{ margin:10px 0; }
.nomargin{ margin:0; }

.container{ padding:20px; text-align:left; background:url(bg_repx_hb.gif) repeat-x; }
.note{ margin:5px 0; padding:5px; width:680px; border:1px solid #CCC; background:#efefef; }
.i{ padding-left:22px; line-height:19px; background:url(bg_repno.gif) no-repeat -275px -100px; }
.i a{ text-decoration:underline; }
.i a:hover{ text-decoration:none; }

.hastabmenu{ position:relative;width: 100%;}
.tabmenu{ position:absolute; z-index:80; list-style:none; margin:-8px 0 0 0; *margin:-8px 0;padding:0}
.tabmenu li{ float:left; margin-right:5px; }
.tabmenu li a, .tabmenu .tabcurrent a{ text-decoration:none;display:block; padding:3px 7px; border:1px solid #CCC; border-bottom:1px solid #efefef; color:#666; }
.tabmenu li a:hover{ text-decoration:none; }
.tabmenu .tabcurrent a{ border:1px solid #ccc; border-bottom:1px solid #efefef; background:#efefef; }
.tabcontent, .tabcontentcur{ position:absolute;top:15px; *top:14px; z-index:70; padding:10px;  border:1px solid #fff; }
.tabcontentcur{ border:1px solid #ccc; background:#efefef; }
.tabcontent .txt, .tabcontentcur .txt{ margin-right:10px; width:110px; }
.tabcontent .btn, .tabcontentcur .btn{ margin-left:5px; }
.memlist{ list-style:none; margin:7px 0 25px; padding-top:2px; border-top:2px solid #CCC;}
.memlist li{ clear:both; overflow:hidden; zoom:1; padding:5px 0; *padding:1px 0 5px; line-height:150%; background:url(bg_repx.gif) repeat-x 0 bottom; }
.memlist em{ float:left; width:120px; }
.memlist .memcont{ width:480px; }
.opt{ clear:both; overflow:hidden; }
	.opt th{ padding:5px 0; font-weight:700; text-align:left; }
	.opt td{ padding-bottom:10px; }
	.opt .txt, .opt textarea{ vertical-align:middle; margin-right:10px; width:180px; }
	.opt select{ vertical-align:middle; margin-right:10px; }
	.opt .area{ height:80px; }
	.opt .bigarea { width: 500px; height: 80px; }
	.opt label{ margin-right:20px; }
	.opt p{ float:left; line-height:180%; }
	
	
/*第二种形式*/
#tabs{
text-align:left;
}
.tabs_menubox{
position:relative;
overflow:hidden;
height:22px;
text-align:left;
}
#tabs_menu{
position:absolute;
top:0;
left:0;
z-index:1;
}
#tabs_menu li{
float:left;
display:block;
cursor:pointer;
width:72px;
text-align:center;
line-height:21px;
height:21px;
}
#tabs_menu li.hover{
background:#fff;
border-left:1px solid #ccc;
border-top:1px solid #ccc;
border-right:1px solid #ccc;
}
.tabs_mainbox{
clear:both;
margin-top:-1px;
border:1px solid #ccc;
}
#tabs_main ul{
display: none;
}
#tabs_main ul.block{
display: block;
}
.main{
clear:both;
padding:8px;
text-align:center;
}
